<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="eventService" class="com.epam.spring.core.service.impl.EventServiceImpl">
        <constructor-arg ref="eventRepository"/>
    </bean>

    <bean id="eventRepository" class="com.epam.spring.core.repository.EventRepository">
        <constructor-arg>
            <list>
                <ref bean="avengers"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="avengers" class="com.epam.spring.core.domain.Event">
        <property name="name" value="Avengers"/>
        <property name="basePrice" value="250"/>
        <property name="airDates">
            <set>
                <value>#{T(java.time.LocalDateTime).parse("2018-03-08T12:30")}</value>
            </set>
        </property>
        <property name="eventRaiting">
            <value type="com.epam.spring.core.domain.EventRaiting">HIGH</value>
        </property>
        <property name="auditoriums">
            <map key-type="java.time.LocalDateTime" value-type="com.epam.spring.core.domain.Auditorium">
                <entry key="#{T(java.time.LocalDateTime).parse('2018-03-08T12:30')}">
                    <ref bean="auditorium"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean name="auditorium" class="com.epam.spring.core.domain.Auditorium">
        <property name="name" value="Room 1"/>
        <property name="numberOfSeats" value="100"/>
        <property name="vipSeats">
            <set>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </set>
        </property>
    </bean>
</beans>